### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [373]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = purchase_data
purchase_data_df.index

RangeIndex(start=0, stop=780, step=1)

## Player Count

* Display the total number of players

In [374]:
#Obtain unique screen names of players 

unique = purchase_data_df["SN"].unique()

users = len(unique)

pd.DataFrame({"Total Players":[users]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [209]:


#Run basic calculations 
summary = purchase_data_df.describe()

#Locate average price
mean_price = summary.loc["mean", "Price"]



#Obtain number of unique items
unique = purchase_data_df["Item ID"].unique()
num_uni_items = len(unique)



#Run basic calculations 
summary = purchase_data_df.describe()

#Locate count purchases
count_purch = summary.loc["count", "Purchase ID"]

#Locate average price
mean_price = summary.loc["mean", "Price"]

#total Revenue
sum_price = purchase_data_df["Price"].sum()

#Obtain number of unique items
unique = purchase_data_df["Item ID"].unique()
num_uni_items = len(unique)

#Create SummaryDF to hold results
summary_info = [{"Number of Purchases":count_purch, "Total Revenue":sum_price, "Average Price":mean_price, "Number of Unique Items":num_uni_items}]
summary_df = pd.DataFrame(summary_info)
summary_df

   Number of Purchases  Total Revenue  Average Price  Number of Unique Items
0                780.0        2379.77       3.050987                     179

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [146]:
# Calculate the unique number of users
total_users = len(purchase_data_df["SN"].unique())

# Extract the username and gender column
dataframe_uni = purchase_data_df[["SN", "Gender"]]

# dropping duplicate values for the username category. The parameter keep = "first" IS KEY HERE
dataframe_uniqueness = dataframe_uni.drop_duplicates(subset = ["SN"], keep="first",inplace=False)

# Give a count per gender
count_gender = dataframe_uniqueness.groupby(["Gender"]).count()

# Create a summary dataframe with a single column containing the results from the previous calculation
gender_summary = pd.DataFrame({"Gender Count": count_gender ["SN"]}, index = count_gender.index)

# This is a function to be used to calculate the percantage per row of the dataframe
def percentageData(x):
    pct = float (x/total_users)*100
    return round(pct,2)

# Create a new dataframe column that will display the percentages per gender using the percentageData function
gender_summary["Gender Percentage"] = gender_summary.apply(percentageData, axis = 1)

# Print summary dataframe
gender_summary

                       Gender Count  Gender Percentage
Gender
Female                           81              14.06
Male                            484              84.03
Other / Non-Disclosed            11               1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [110]:
#1. Total dollar value purchases by each gender,
total_per_gender = purchase_data_df.groupby("Gender")["Price"].sum()


#2. Average price of the item bought by the gender,
avg_per_gender = purchase_data_df.groupby("Gender")["Price"].mean()

#3. Total items bought by that geneder group
purch_per_gender = purchase_data_df.groupby("Gender")["Item ID"].count()



summary_info = {"Total Amount by Gender":total_per_gender, "Average Amount by Gender":avg_per_gender, "Number of Purchases by Gender":purch_per_gender}
summary_data = pd.DataFrame(summary_info)
summary_data

,Total Amount by Gender,Average Amount by Gender,Number of Purchases by Gender
Gender,,,
Female,361.94,3.203009,113
Male,1967.64,3.017853,652
Other / Non-Disclosed,50.19,3.346000,15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [199]:
#Create bins for ages 
bins = [0,9,14,19,24,29,34,39,44,49,54]

#Create labels for these bins
age_grp = ["0 to 9", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34","35 to 39", "40 to 44", "45 to 49", "50 to 54"]

# Calculate the unique number of users
total_users = len(purchase_data_df["SN"].unique())

# Extract the username and age column
dataframe_uni_df = purchase_data_df[["SN", "Age"]]

# dropping duplicate values for the username category. The parameter keep = "first" IS KEY HERE
dataframe_uniqueness_df = dataframe_uni_df.drop_duplicates(subset = ["SN"], keep="first",inplace=False)


#slice data and put into bins
pd.cut(dataframe_uniqueness_df["Age"], bins, labels = age_grp).head()

#Place the data series into a new column inside datafram
dataframe_uniqueness_df["Age Group"] = pd.cut(dataframe_uniqueness_df["Age"], bins, labels = age_grp)
dataframe_uniqueness_df.head()

#Create a groupby object based on "Age Group"
age_grp = dataframe_uniqueness_df.groupby("Age Group")

#Count of rows fall into each bin 
count_age_grp = age_grp["SN"].count()
count_age_grp



# Create a summary dataframe with a single column containing the results from the previous calculation
age_grp_summary = pd.DataFrame({"Age Group Count": count_age_grp})

age_grp_summary

# This is a function to be used to calculate the percantage per row of the dataframe
def percentageData(x):
    pct = float (x/total_users)*100
    return round(pct,2)



# Create a new dataframe column that will display the percentages per gender using the percentageData function
age_grp_summary["Age Percentage"] = age_grp_summary.apply(percentageData, axis = 1)

# Print summary dataframe
age_grp_summary

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Age Group Count  Age Percentage
Age Group
0 to 9                  17            2.95
10 to 14                22            3.82
15 to 19               107           18.58
20 to 24               258           44.79
25 to 29                77           13.37
30 to 34                52            9.03
35 to 39                31            5.38
40 to 44                11            1.91
45 to 49                 1            0.17
50 to 54                 0            0.00

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [388]:
#Create bins for ages 
bins = [0,9,14,19,24,29,34,39,44,49]

#Create labels for these bins
age_grp = ["0 to 9", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34","35 to 39", "40 to 44", "45 to 49"]




# Calculate the unique number of users
total_users = len(purchase_data_df["SN"].unique())

# Extract the username and age column
Extract_df = purchase_data_df[["SN", "Age", "Item ID", "Price"]]

# dropping duplicate values for the username category. The parameter keep = "first" IS KEY HERE
dataframe_uniqueness_df = Extract_df.drop_duplicates(subset = ["SN"], keep="first",inplace=False)


#slice data and put into bins
pd.cut(dataframe_uniqueness_df["Age"], bins, labels = age_grp).head()

#Place the data series into a new column inside datafram
dataframe_uniqueness_df["Age Group"] = pd.cut(dataframe_uniqueness_df["Age"], bins, labels = age_grp)
dataframe_uniqueness_df.head()

#Create a groupby object based on "Age Group"
age_grp = dataframe_uniqueness_df.groupby("Age Group")

#Count of rows fall into each bin 
count_age_grp = age_grp["SN"].count()
count_age_grp



# Create a summary dataframe with a single column containing the results from the previous calculation
age_grp_summary = pd.DataFrame({"Age Group Count": count_age_grp})




#1.Total purchased items by age 
purch_per_age = dataframe_uniqueness_df.groupby("Age Group")["Item ID"].count()

#2. Average price of item bought by age,
avg_per_age = dataframe_uniqueness_df.groupby("Age Group")["Price"].mean()

#3. Total dollar amount of purchases by age,
total_per_age = dataframe_uniqueness_df.groupby("Age Group")["Price"].sum()

#HIna = total_per_age / age_grp_summary["Age Group Count"]


#person_gender_total_avg = [total_per_age / gender_count]

# Create a summary dataframe with multiple column containing the results from the previous calculation
age_grp_summary2 = pd.DataFrame({"Purchase Count":purch_per_age, "Average Purchase Price":avg_per_age, "Total Purchase Value": total_per_age})

age_grp_summary2

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
0 to 9                 17                3.390000                 57.63
10 to 14               22                3.074545                 67.64
15 to 19              107                3.101682                331.88
20 to 24              258                3.063527                790.39
25 to 29               77                2.908182                223.93
30 to 34               52                2.921538                151.92
35 to 39               31                3.510000                108.81
40 to 44               11                3.159091                 34.75
45 to 49                1                1.700000                  1.70

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [280]:
# Identify the the top 5 spenders in the game 
# by total purchase value, 
# then list (in a table):

# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

#Top 5 Spenders


# Calculate the unique number of purchases to check we pulling all 780 transactions
total_purchases = len(purchase_data_df["Purchase ID"].unique())

# Extract the username and age column
Extract_df = purchase_data_df[["Item ID", "Price", "SN"]]




Extract_df_indx = Extract_df.set_index("SN")
#print(Extract_df_indx)



#1.Total purchased items by age 
purch_per_sn = Extract_df_indx.groupby("SN")["Item ID"].count()



#2. Average price of item bought by age,
avg_per_sn = Extract_df_indx.groupby("SN")["Price"].mean()



#3. Total dollar amount of purchases by age,
total_per_sn = Extract_df_indx.groupby("SN")["Price"].sum()






# Create a summary dataframe with multiple column containing the results from the previous calculation
sn_summary = pd.DataFrame({"Purchase Count":purch_per_sn, "Average Purchase Price":avg_per_sn, "Total Purchase Value": total_per_sn})

sn_summary.head()

sort = sn_summary.sort_values("Total Purchase Value", ascending=False)
sort.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [382]:
# Identify the 5 most popular items 
# by total purchase value, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

# Calculate the unique number of purchases to check we pulling all 780 transactions
total_purchases = len(purchase_data["Purchase ID"])

# Extract the columns


Extract_df_indx = purchase_data[["Purchase ID", "Price", "Item Name", "Item ID"]]





#1.Total purchased items
#purch_per_item = Extract_df_indx.groupby("Item ID")["Purchase ID"].count()



#2. Average price of item 
#avg_per_item = Extract_df_indx.groupby("Item ID")["Price"].mean()



#3. Total dollar amount of items
#total_per_item = Extract_df_indx.groupby("Item ID")["Price"].sum()





# Create a summary dataframe with multiple column containing the results from the previous calculation
sn_summary = pd.DataFrame({"Purchase Count":purch_per_item, "Average Purchase Price":avg_per_item, "Total Purchase Value": total_per_item})

sn_summary.head()

sort = sn_summary.sort_values("Purchase Count", ascending=False)
sort.head(5)

         Purchase Count  Average Purchase Price  Total Purchase Value
Item ID
92                   13                4.614615                 59.99
178                  12                4.230000                 50.76
145                   9                4.580000                 41.22
132                   9                3.221111                 28.99
108                   9                3.530000                 31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [383]:
# Identify the 5 most popular items 
# by total purchase value, then list (in a table):

# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

# Calculate the unique number of purchases to check we pulling all 780 transactions
total_purchases = len(purchase_data["Purchase ID"])

# Extract the columns


Extract_df_indx = purchase_data[["Purchase ID", "Price", "Item Name", "Item ID"]]





#1.Total purchased items
#purch_per_item = Extract_df_indx.groupby("Item ID")["Purchase ID"].count()



#2. Average price of item 
#avg_per_item = Extract_df_indx.groupby("Item ID")["Price"].mean()



#3. Total dollar amount of items
#total_per_item = Extract_df_indx.groupby("Item ID")["Price"].sum()





# Create a summary dataframe with multiple column containing the results from the previous calculation
sn_summary = pd.DataFrame({"Purchase Count":purch_per_item, "Average Purchase Price":avg_per_item, "Total Purchase Value": total_per_item})

sn_summary.head()

sort = sn_summary.sort_values("Total Purchase Value", ascending=False)
sort.head(5)

         Purchase Count  Average Purchase Price  Total Purchase Value
Item ID
92                   13                4.614615                 59.99
178                  12                4.230000                 50.76
82                    9                4.900000                 44.10
145                   9                4.580000                 41.22
103                   8                4.350000                 34.80